/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding-top: 40px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 40px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login-page{
	height: 100%;
}
#login-page main h1{
	color: #1D6154;
	font-size: 35px;
	font-weight: normal;
}
#login-page main{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	height: 650px;
	margin-top: 100px;
}
#login-page div{
	width: 30%;
	height: 51px;
	display: flex;
	gap:5px;
	flex-direction: column;
}
#login-page input , #category , .title-input-box input{
	width: 98%;
	height: 100%;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}
#login-page button {
	background-color: #1D6154;
	color: aliceblue;
	width: 15%;
	border-radius: 60px ;
	border: none;
	font-size: 15px;
	height: 36px;
	font-family: 'Syne';
}

.filtres{
	width: 50%;
	height: 38px;
	display: flex;
	justify-content: space-between;
	
}
.filtre-item {
	height: 100%;
	border-radius: 60px;
	border: #1D6154 1px solid;
	color: #1D6154;
	background-color: white;
	min-width: 16%;
	font-weight: 600;
	font-size: 100%;
	font-family: 'Syne';
}
.filtre-item:hover{
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}


#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}
 
header li:hover{
	cursor: pointer;
}

.edit-bar {
	position: fixed;
	width: 100vw;
	left: 0px;
	top: 0px;
	z-index: 1000;
	height: 59px ;
	background-color:black;
	display: none;
	color: white;
	font-family: 'Syne';
	justify-content: center;
	align-items: center;
}

.modale-shadow {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 400%;
	width: 100%;
	background-color: #000000;
	opacity: 40%;
}
.modale {
	display: none;
	position: absolute;
	top: 40%;
	right: 0;
	left: calc(50% - 350px);
	bottom: 0;
	width: 700px;
	height: fit-content;
	background-color:white;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
}

.modale-divider {
	background-color: #000000;
	height: 1px;
	width: 60%;
	margin-top: 20px;
}
.modale-bottom-btn, .add-bottom-btn{
	border: none;
	border-radius: 20px;
	background-color: #1D6154;
	color: white;
	width: 40%;
	height: 36px;
	font-family: 'Syne';
	margin-top: 30px;
}
.modale-title {
	font-family: 'Work Sans' ;
	color: black;
	font-weight: normal;
	font-size: 25px;
	margin-top: 10px;
}
.modale-cards {
	margin: 0;
	margin-top: 40px;
	display: flex;
	flex-wrap:wrap;
	width: 70%;
	column-gap: 10px;
	row-gap: 30px;
	justify-content: space-between;
}

.modale-and-add-top-btns {
	margin-top: 10;
	height: 5%;
	width: 90%;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	
}
.modale-cards div {
	height: 100px;
	width: 75px;
	position: relative;
}
.modale-cards img {
	height: 100%;
	width: 100%;
}
.modale-and-add-top-btns button {
	border: none;
	background-color: white;
}
.modale-and-add-top-btns img {
	height: 30px;
	width: 30px;

}
.modale-cross img:hover , .modale-and-add-top-btns img:hover{
	cursor: pointer;
}

.remove-btn:hover{
	cursor: pointer;
}

.modify-btn{
	display: none;
	color: #000000;
	font-family: 'Work Sans';
	font-weight: lighter;
	font-size: 20px;
	justify-content: center;
	align-items: center;
	gap : 3px;
}
.modify-btn:hover{
	cursor: pointer;
}
.modify-icon{
	height: 20px;
	width: 20px;
}
#portfolio h2 {
	display: flex;
	gap : 20px;
}

.edit-bar img {
	margin-right: 10px;
}

aside {
	padding-bottom: 30px;
}

.add-aside {
	display: none;
	position: absolute;
	top: 40%;
	right: 0;
	left: calc(50% - 350px);
	bottom: 0;
	width: 700px;
	height: fit-content;
	background-color:white;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	gap: 15px;
}
.add-page-input-container{
	width: 70%;
}
.preview-container{
	background-color: #e8f1f6;
	height: 200px;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.preview-container img{
	margin-top: 10px;
	width: 17%;
}

.preview-container label{
	background-color:#CBD6DC;
	color: #306685;
	border: none;
	height: 40px;
	width:40% ;
	border-radius: 20px;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Work Sans';
	display: flex;
	justify-content: center;
	align-items: center;
}
.preview-container label span{
	cursor: pointer;
}
.preview-container button:hover{
	cursor: pointer;
}
.category-input-box , .title-input-box{
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 15px;
	width: 100%;
}

.category-input-box select , .title-input-box input{
	width: 100%;
	height: 20px;
	padding: 0;
}
.category-input-box select {
	width: 520px;
}

.before-preview {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	width: 100%;
}
.before-preview input{
	display: none;
}
.before-preview label{
	width: 100%;
}
.previewed-img-container {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 0;
}
.previewed-img-container img {
	margin: 0;
	height: 100%;
	width: fit-content;
}
.before-preview form{
	width: 40%;
}
